{% extends "base.html" %}

{% block style %}
<style>
  p a {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
  }
</style>
{% endblock %}

{% block content %}
<div class="w3-container w3-padding-32">
  <h1>File Not Found</h1>
  <p> If you typed the address manually, check spelling. Or use the menu above.</p>
  <p><a href="{{ url_for('routes.index') }}">&#8592; Back to Home page</a></p>
</div>
{% endblock %}