<!DOCTYPE html>
<html lang="en">
<head>
  {% if title %}
    <title>{{ title }}</title>
  {# {% else %}
    <title>WideOpen Flight Search: Ultra-Flexible Dates & Destinations</title> #}
  {% endif %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="keywords" content="travel, flights, airfare, flexible">
  {# <meta name="author" content="Steven Zekowski">  #}
  <meta name="google-site-verification" content="Q84ISZKvSy9xH6JJP5Zu13kB6x3KGldwtWLufaNWxYI" />
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/w3.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/custom.css') }}">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css" integrity="sha384-kcAOn9fN4XSd+TGsNu2OQKSuV5ngOwt7tg73O4EpaD91QXvrfgvf0MR7/2dUjoI6" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css?family=Lato&subset=latin-ext&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:500i,600,600i,700,700i&display=swap" rel="stylesheet">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>

  {% block head %}{% endblock %}

  {% block style %}{% endblock %}
</head>

<body>
<div class="w3-top">
  <nav class="w3-bar w3-blue" id="myNavbar">
    <a href="/index" class="w3-bar-item w3-button">HOME</a>
    <div class="w3-dropdown-hover">
      <button class="w3-button">FLIGHT SEARCH</button>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="{{ url_for('routes.flight_search') }}" class="w3-bar-item w3-button">WideOpen Search</a>
        <a href="{{ url_for('routes.live_search') }}" class="w3-bar-item w3-button">Live Search</a>
      </div>
    </div>
  </nav>
</div>
{% block content %}{% endblock %}
<footer class="w3-bottom">
  <small>
    Copyright &copy; 2019 - <span id="currentYear"></span>, Steven Zekowski. All Rights Reserved.
  </small>
  <span><a href="mailto:admin@wideopenflights.com">Contact Us</a></span>
</footer>

<script>
  var d = new Date();
  document.getElementById("currentYear").innerHTML = d.getFullYear();
</script>
{% block script %}{% endblock %}
</body>
</html>