{% extends "base.html" %}

{% block head %}
  <title>WideOpen | Flexible Flight Search to Anywhere & Everywhere</title>
  <meta name="description" content="Find inspiring destinations, the cheapest dates, and the best trip-length options — all with a single search.">
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="bg-img img5 fluid-type">
  <div class="title w3-center">
    WideOpen Flights
  </div>
  <div class="subtitle w3-center">
    A New Way to Search
  </div>
  <div class="w3-row position-low index-container fluid-box">
    <div class="slides pad-sides animate-fading">
      <div class="slide-title">Another flight search website... Why?</div>
      <p>
        <span class="slide-subtitle">
          <a href="{{ url_for('routes.flight_search') }}">WideOpen Search</a>
        </span>
        lets you search all destinations, over any date range!&emsp;
        Only an origin city is required.
      </p>
      <pre>&#9;&#9;With a single search...</pre>
    </div>
    <div class="slides pad-sides animate-fading">
      <p>
        ...explore dates, price, and trip-length options for hundreds of destinations.
      </p>
      <p>
        Then use <span class="slide-subtitle">
        <a href="{{ url_for('routes.live_search') }}">&emsp;Live Search</a>
        </span>
        to check real-time availability, prices, flight duration, layovers, and aircraft type.
      </p>
    </div>
    <div class="slides pad-sides animate-fading">
      <p>Ready to try something new?</p>
      <p class="w3-center slide-title">
        <a href="{{ url_for('routes.flight_search') }}">WideOpen Search &rarr;</a>
      </p>
      {# <p class="w3-center slide-title">
        <a href="{{ url_for('routes.live_search') }}">Live Search &rarr;</a>
      </p> #}
    </div>
    <div class="previous w3-hover-text-green pad-sides" onclick="plusDivs(-1)">&#10094;</div>
    <div class="next w3-hover-text-green pad-sides" onclick="plusDivs(1)">&#10095;</div>
    <div class="w3-center">
      <span class="w3-badge dots w3-border w3-transparent w3-hover-green" onclick="currentDiv(1)"></span>
      <span class="w3-badge dots w3-border w3-transparent w3-hover-green" onclick="currentDiv(2)"></span>
      <span class="w3-badge dots w3-border w3-transparent w3-hover-green" onclick="currentDiv(3)"></span>
    </div>
  </div>
  </div>
</div>
{% endblock %}

{% block script %}
<script>
// Borrowed from https://www.w3schools.com/howto/howto_js_slideshow.asp & 
// https://stackoverflow.com/questions/40638969/automatic-and-manual-slideshow
var slideIndex = 1;
var timer = null;
showDivs(slideIndex);

function plusDivs(n) {
  clearTimeout(timer);
  showDivs(slideIndex += n);
}

function currentDiv(n) {
  clearTimeout(timer);
  showDivs(slideIndex = n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("slides");
  var dots = document.getElementsByClassName("dots");
  if (n==undefined) {n = ++slideIndex}
  if (n > x.length) {slideIndex = 1}
  if (n < 1) {slideIndex = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" w3-blue", "");
  }
  x[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " w3-blue";
  if (slideIndex != 3) {
    timer = setTimeout(showDivs, 8000);
  }
  else {
    x[slideIndex -1].className = x[slideIndex-1].className.replace(" animate-fading", "");
  }
}
</script>
{% endblock %}