{% extends "base.html" %}
{% block head %}
  <title>Live Search: Check Prices & View Flight Details</title>
  <meta name="description" content="Check real-time flight availability, prices, flight duration, layovers, and aircraft type.">
  <script src="https://cdn.jsdelivr.net/npm/timepicker@1.11.14/jquery.timepicker.min.js" integrity="sha256-BT66/9RRLW3TION5lMYwhRLqcNiiBu3n+thNYQYy2dM=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.11.14/jquery.timepicker.min.css" integrity="sha256-RJ4tizeui3zQ6SK3oytsiFBSeyux5k0adQVRxbqHx90=" crossorigin="anonymous">
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="bg-img img3 fluid-type">
  <div class="search-title">
    Live Flight Search
    <div class="instructions">
      <p>
        Required fields are in bold. To search for one-way flights leave 'Return' empty.
        <br>'Maximum Price' is the maximum total for all passengers.
        {# <br>{{ session.live_params }}  #}
      </p>
      <div class="hidden">{{ error_count }}</div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <p class="flashed">{{ message }}</p>
        {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>
  <form id="live_form" action="" method="post">
    {{ form.hidden_tag() }}
    <div class="flex-container">
      <div class="flex-item">
        <strong>{{ form.origin.label }}</strong><br>
        {{ form.origin(size=36, id="origin_code", value=strings['origin'], placeholder="City/airport name or code") }}
      </div>
      <div class="flex-item">
        <strong>{{ form.destination.label }}</strong><br>
        {{ form.destination(
          size=36, id="destination_code", value=strings['destination'], placeholder="City/airport name or code") }}
      </div>
      <div class="flex-item">
        <strong>{{ form.currency.label }}</strong><br>
        {{ form.currency(size=16, id="currency", value=strings['currency']) }}
      </div>
    </div>
    {% for error in form.origin.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Origin: "{{form.origin.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %}
    {% for error in form.destination.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Destination: "{{form.destination.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %}
    {% for error in form.currency.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Currency: "{{form.currency.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %}
    <div class="w3-cell-row form-row">
      {# Not using one-way for Live Search #}
      {# <div class="w3-cell w3-mobile">
      {{ form.one_way(class_="w3-check", onchange="disableEnable()") }}&nbsp;{{ form.one_way.label }}
      </div> #}
      <div class="w3-cell w3-mobile">
      {% if direct == 'false' %}
        {{ form.nonStop(class_="w3-check") }}&nbsp;{{ form.nonStop.label }}
      {% else %}
        {{ form.nonStop(class_="w3-check", checked="checked") }}&nbsp;{{ form.nonStop.label }}
      {% endif %}
      </div>
      <div class="w3-cell w3-mobile">
        {{ form.maxPrice.label }}&nbsp;{{ form.maxPrice(value=values['maxPrice'], size=6) }}
      </div>
      <div class="w3-cell w3-mobile">
        {{ form.travelClass.label}}&nbsp;{{ form.travelClass }}
      </div>
    </div>
    {% for error in form.maxPrice.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Maximum Price: "{{form.maxPrice.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %}
    <div class="w3-cell-row form-row-medium">
      <div class="w3-cell w3-mobile">
        <strong>{{ form.departureDate.label }}</strong>&nbsp;
        {{ form.departureDate(id="datepicker1", size=12, value=values['departureDate']) }}
      </div>
      <div class="w3-cell w3-mobile">
        {{ form.returnDate.label }}&nbsp;
        {{ form.returnDate(
          id="datepicker2", size=12, placeholder="Skip for 1-way",
          value=values['returnDate']) }}
      </div>
    </div>
    {% for error in form.departureDate.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Departure: "{{form.departureDate.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %}
    {% for error in form.returnDate.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Return: "{{form.returnDate.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %}
    <div class="w3-cell-row form-row">
      <div class="w3-cell w3-mobile">
        {{ form.adults.label }}&nbsp;
        {{ form.adults(size=4, value=values['adults']) }}
      </div>
      {# <div class="w3-cell w3-mobile">
        {{ form.seniors.label }}&nbsp;
        {{ form.seniors(size=4, value=values['seniors']) }}
      </div> #}
      <div class="w3-cell w3-mobile">
        {{ form.children.label }}&nbsp;
        {{ form.children(size=4, value=values['children']) }}
      </div>
      <div class="w3-cell w3-mobile">
        {{ form.infants.label }}&nbsp;
        {{ form.infants(size=4, value=values['infants']) }}
      </div>
    </div>
    {% for error in form.adults.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Adults: "{{form.adults.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %}
   {# {% for error in form.seniors.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Seniors: "{{form.seniors.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %} #}
    {% for error in form.children.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Children: "{{form.children.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %}
    {% for error in form.infants.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Infants: "{{form.infants.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %}
    {% if session.live_params.includedAirlineCodes or session.live_params.excludedAirlineCodes %}
    <div class="clickable w3-cell-row form-row" id="show_hide" onclick="showAdvanced()">
      Hide advanced options & clear lists &mdash;
    </div>
    <div id="advanced" class="w3-show">
    {% else %}
    <div class="clickable w3-cell-row form-row" id="show_hide" onclick="showAdvanced()">
      {# Show Advanced Options (specify arrival times, include/exclude airlines) + #}
      Show advanced options (include or exclude airlines) +
    </div>
    <div id="advanced" class="w3-hide">
    {% endif %}
    {# Not using arrivalBy or returnBy with new flight-offers API
      <div class="w3-cell-row form-row-medium">
        <div class="w3-cell w3-mobile">
          {{ form.arrivalBy.label }}
          {{ form.arrivalBy(id="arrival_by", class_="time", size=12,
            value=values['arrivalBy'].split('T')[1] if values['arrivalBy'] is defined) }}
        {% 
          if values['arrivalBy'] is defined and values['arrivalBy'].split('T')[0] != values['departureDate'] 
        %}
          {{ form.departurePlusOne(checked="checked",
          class_="w3-check") }}&nbsp;{{ form.departurePlusOne.label }}&nbsp;
        {% else %}
          {{ form.departurePlusOne(class_="w3-check") }}&nbsp;{{ form.departurePlusOne.label }}&nbsp;
        {% endif %}
        </div>
        <div class="w3-cell w3-mobile">
          &nbsp;&nbsp;&nbsp;{{ form.returnBy.label }}
          {{ form.returnBy(id="return_by", class_="time", size=12,
            value=values['returnBy'].split('T')[1] if values['returnBy'] is defined) }}
        {% if values['returnBy'] is defined and values['returnBy'].split('T')[0] != values['returnDate'] %}
          {{ form.returnPlusOne(checked="checked",
          class_="w3-check") }}&nbsp;{{ form.returnPlusOne.label }}
        {% else %}
          {{ form.returnPlusOne(class_="w3-check") }}&nbsp;{{ form.returnPlusOne.label }}
        {% endif %}
        </div>
      </div>
      {% for error in form.arrivalBy.errors %}
        <div class="w3-row-padding errors">
          &nbsp;&nbsp;Invalid entry for Arrival-by time: "{{form.arrivalBy.raw_data[0]}}" [{{ error }}]
        </div>
      {% endfor %}
      {% for error in form.returnBy.errors %}
        <div class="w3-row-padding errors">
          &nbsp;&nbsp;Invalid entry for Return-by time: "{{form.returnBy.raw_data[0]}}" [{{ error }}]
        </div>
      {% endfor %}
    End of commented out code #}
      <div class="w3-cell-row form-row-medium">
        <div class="w3-cell w3-mobile">
          {{ form.includeAirlines.label }}&nbsp;
          <input id="in_airlines" type="text" placeholder="Search for airline" size=16>
        </div>
        <div class="w3-cell w3-mobile">
          {{ form.includeAirlines(
            id="incl_codes",
            size=16,
            value=values['includedAirlineCodes'] + ',' if values['includedAirlineCodes'] is defined,
            onfocus="this.readOnly = true",
            onblur="this.readOnly = false"
            ) }}
          <span class="clickable" onclick="$('#incl_codes').val('')">Clear list</span>
        </div>
      </div>
      <div class="w3-cell-row form-row-medium">
        <div class="w3-cell w3-mobile">
          {{ form.excludeAirlines.label }}&nbsp;
          <input id="ex_airlines" type="text" placeholder="Search for airline" size=16>
        </div>
        <div class="w3-cell w3-mobile">
          {{ form.excludeAirlines(
            id="excl_codes",
            size=16,
            value=values['excludedAirlineCodes'] + ',' if values['excludedAirlineCodes'] is defined,
            onfocus="this.readOnly = true",
            onblur="this.readOnly = false"
            ) }}
          <span class="clickable" onclick="$('#excl_codes').val('')">Clear list</span>
        </div>
      </div>
      {% for error in form.includeAirlines.errors %}
        <div class="w3-row-padding errors">
          &nbsp;&nbsp;
          Invalid entry for Include Airlines: "{{form.includeAirlines.raw_data[0]}}" [{{ error }}]
        </div>
      {% endfor %}
      {% for error in form.excludeAirlines.errors %}
        <div class="w3-row-padding errors">
          &nbsp;&nbsp;
          Invalid entry for Exclude Airlines: "{{form.excludeAirlines.raw_data[0]}}" [{{ error }}]
        </div>
      {% endfor %}
    </div>
    <div class="w3-row-padding form-row">
      {{ form.showMax.label }}&nbsp;
      {{ form.showMax(size=2, value=values['max'], placeholder="50") }}
      &nbsp;{{ form.submit(class_="w3-button w3-blue") }}
    </div>
    {% for error in form.showMax.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry: "{{form.showMax.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %}
  </form>
</div>

{% endblock %}

{% block script %}
<script>
$( function() {
  $( "#datepicker2" ).datepicker({
      showOn: "both",
      buttonImage: "{{ url_for('static', filename='images/calendar-blue.gif') }}",
      buttonImageOnly: true,
      //buttonText: "Select from calendar",
      changeMonth: true, 
      changeYear: true, 
      dateFormat: "yy-mm-dd"
      });
  $( "#datepicker1" ).datepicker({
      showOn: "both",
      buttonImage: "{{ url_for('static', filename='images/calendar-blue.gif') }}",
      buttonImageOnly: true,
      //buttonText: "Select from calendar",
      changeMonth: true, 
      changeYear: true, 
      dateFormat: "yy-mm-dd",
      minDate: 0,
      onSelect: function(selected_date, inst) {
          var selected_date = new Date(inst.selectedYear, inst.selectedMonth, inst.selectedDay);
          $( "#datepicker2" ).datepicker( "option", "minDate", selected_date);
          }
      });
  });
  
$( function() {
  var locations = ($.map( {{ code_dict|tojson }}, function (value, key) {
    return {
        label: key.slice(1) + " " + value.string,
        value: key.slice(1) + " " + value.string
    };
  }));
  $( "#origin_code" ).autocomplete( {
    source: locations,
    minLength: 3,
    delay: 100
  } );
  $( "#destination_code" ).autocomplete( {
    source: locations,
    minLength: 3,
    delay: 100
  } );
} );

$( function() {
  var currencies = ( $.map( {{ currencies|tojson }}, function (value, key) {
    return {
      //label: key + " " + value[0], // Old currency dictionary
      label: key + " " + value,
      //value: key + " " + value[0]  // Old currency dictionary
      value: key + " " + value
    };
  } ) );
  $( "#currency" ).autocomplete( {
    source: currencies,
    minLength: 2,
    delay: 100
  } );
} );

$( function() {
  var airlines = ( $.map( {{ airlines_dict|tojson }}, function (value, key) {
    return {
      label: key + "   " + value.name,
      value: key
    };
  } ) );
  $( "#in_airlines" ).autocomplete( {
    source: airlines,
    minLength: 2,
    delay: 100,
    select: function(event, ui){
      var codes = $("#incl_codes");
      codes.val( codes.val() + ui.item.value + "," );
      $("#excl_codes").val("");
    },
    close: function(event, ui){
      $(this).val("");
    }
  } );
  $( "#ex_airlines" ).autocomplete( {
    source: airlines,
    minLength: 2,
    delay: 100,
    select: function(event, ui){
      var codes = $("#excl_codes");
      codes.val( codes.val() + ui.item.value + "," );
      $("#incl_codes").val("");
    },
    close: function(event, ui){
      $(this).val("");
    }
  } );
});

function showAdvanced() {
  var options, show_hide, form;
  show_hide = document.getElementById("show_hide");
  options = document.getElementById("advanced");
  form = document.getElementById("live_form");
  if (options.className.indexOf("w3-hide") == -1) {
    options.className = options.className.replace("w3-show", "w3-hide");
    //show_hide.innerHTML = "Show Advanced Options (specify arrival times, include/exclude airlines) +";
    show_hide.innerHTML = "Show advanced options (include or exclude airlines) +";
    form.style.minHeight = "";
    $("#incl_codes").val("");
    $("#excl_codes").val("");
  }
  else {
    options.className = options.className.replace("w3-hide", "w3-show");
    show_hide.innerHTML = "Hide advanced options & clear lists &mdash;";
    form.style.minHeight = "488px";
  }
}

// Not using these for now.
/* 
  function disableEnable() {
    md1 = document.getElementById("min_duration");
    md2 = document.getElementById("max_duration");
    label_1 = document.getElementById("min_d_label");
    label_2 = document.getElementById("max_d_label");
    if ( md1.disabled ) {
      md1.disabled = false;
      md2.disabled = false;
      label_1.style.color = "Black";
      label_2.style.color = "Black";
    }
    else {
      md1.disabled = true;
      md2.disabled = true;
      label_1.style.color = "LightGray";
      label_2.style.color = "LightGray";
    }
  }

  $("#arrival_by").timepicker( {
    timeFormat: 'h:i A',
    //show2400: true
  } );

  $("#return_by").timepicker( {
    timeFormat: 'h:i A',
    //show2400: true
  } ); 
*/

</script>
  
{% endblock %} 