{% extends "base.html" %}

{% block style %}
{% endblock %}

{% block content %}
{# <br><br> #}

<div class="bg-img img6 fluid-type">
  <div class="live-results-title">Live Search Results
    <div class="w3-cell-row live-row default-bg-color">
      {% if result_type == 'inspiration' or result_type == 'extensive' %}
      <div class="w3-cell w3-mobile w3-center">
        <a href="{{ url_for('routes.results', search_type=result_type) }}">
        <strong>&#8592;&nbsp;Back to <em>WideOpen</em> Results
        </strong>
        </a>
      </div>
      {% endif %}
      <div class="w3-cell w3-mobile w3-center">
        <a href="{{ url_for('routes.live_search', new='false') }}">
        <strong>&#8592;&nbsp;Modify this <em>Live</em> Search
        </strong>
        </a>
      </div>
    </div>
    <div class="w3-cell-row live-row default-bg-color">
      <div class="w3-cell w3-mobile w3-center">Filter By: </div>
      <div class="w3-cell w3-mobile w3-center">
        <label for="filter_layover">Maximum layover</label>
        <input type="text" id="filter_layover" placeholder="hours" onkeyup="filter()">
      </div>
      <div class="w3-cell w3-mobile w3-center">
        <label for="filter_stops">&nbsp;&nbsp;&nbsp;Maximum stops</label>
        <input type="text" id="filter_stops" onkeyup="filter()">
      </div>
      {# For troubleshooting #}
        {# <p>{{ session.live_params }}</p> #}
        {# '{{ request.referrer }}' #}
        {# <p>{{ flights }}</p> #}
        {# {% if flights.errors is defined %} #}
          {# {{ flights.errors }} #}
        {# {% endif %} #}
    </div>
  </div>

  <div class="wrapper-tall">
    {% for result in results %} 
    <div class="w3-margin result-card default-bg-color">
      <div class="w3-row w3-light-blue result-card-price-bar">
        <div class="w3-container w3-col third">
          <p><strong>
            {# {{ result.offerItems[0].pricePerAdult.total }} {{ flights.meta.currency }} per adult #}
            {{ result.travelerPricings[0].price.total }} {{ result.price.currency }} per adult
          </strong></p>
        </div>
        <div class="w3-container w3-col third w3-center">
          <p><strong>{{ result.price.total }} {{ result.price.currency }} Total: {{ session.live_params.adults }} adult
          {% for passenger_count in [(session.live_params.children,
          'child'), (session.live_params.infants, 'infant')] %}
            {% if passenger_count[0] > 0 %}
            , {{ passenger_count[0] }} {{ passenger_count[1] }}
            {% endif %}
          {% endfor %}
          </strong></p>
        </div>
      </div>

      {# {% for service in result.offerItems[0].services %} #}
      {% for itinerary in result.itineraries %}
      
      {# {% if result.offerItems[0].services.index(service) == 0 %} #}
      {% if result.itineraries.index(itinerary) == 0 %}
        <div class="w3-row w3-container"><p><strong>Outbound</strong></p></div>
      
      {# {% elif len(result.offerItems[0].services) == 2 and result.offerItems[0].services.index(service) == 1 %} #}
      {% elif len(result.itineraries) == 2 and result.itineraries.index(itinerary) == 1 %}
        <div class="w3-row w3-container"><p><strong>Return</strong></p></div>
      {% endif %}

        {# {% for segment in service.segments %} #}
        {% for segment in itinerary.segments %}
        
        {# {% if result.offerItems[0].services.index(service) == 0 %} #}
        {% if result.itineraries.index(itinerary) == 0 %}
        <div class="w3-row w3-container out">
        
        {# {% elif len(result.offerItems[0].services)==2 and result.offerItems[0].services.index(service)==1 %} #}
        {% elif len(result.itineraries)==2 and result.itineraries.index(itinerary)==1 %}
        <div class="w3-row w3-container return">
        {% endif %}

          <div class="w3-container col-15">
            <p title="{{ code_dict['A' + segment.departure.iataCode]['name'] }} to {{ code_dict['A' + segment.arrival.iataCode]['name'] }}">
              {{ segment.departure.iataCode }} to {{ segment.arrival.iataCode }}
            {% if itinerary.segments.index(segment) < (len(itinerary.segments) - 1) and segment.arrival.iataCode != itinerary.segments[itinerary.segments.index(segment) + 1].departure.iataCode %}
              <p class="w3-text-red">
              <strong>Connects Through Different Airports!</strong></p>
            {% endif %}
            </p>
          </div>
          <div class="w3-container col-20">
            <p> {{ flights.dictionaries.carriers[segment.carrierCode]|default('Carrier missing')|title }}&nbsp;&nbsp;Flight {{ segment.number }}
            <br><span class="w3-text-gray">{{ flights.dictionaries.aircraft[segment.aircraft.code]|default('Aircraft info missing')|title }}
            </span></p>
          </div>
          <div class="w3-container col-20">
            <p>Departs {{ strftime(date_time_formatter(segment.departure.at), '%a %d %b %Y at %I:%M %p') }}
            {% if segment.operating is defined %}
            <br><span class="w3-text-gray">Operated by {{ flights.dictionaries.carriers[segment.operating.carrierCode]|default('Carrier missing')|title }}
            </span>
            {% endif %}
            </p>
          </div>
          <div class="w3-container col-15">
          {# {% with td = date_time_formatter(segment.arrival.at) - date_time_formatter(segment.departure.at) %} #}
          {% with td = parse_duration(segment.duration) %}
            <p class="w3-text-gray w3-center">{{ '{} hours {} minutes'.format(*str(td).split(':')[:2]) }}</p>
          {% endwith %}
          </div>
          <div class="w3-container col-20">
            <p>Arrives {{ strftime(date_time_formatter(segment.arrival.at), '%a %d %b %Y at %I:%M %p') }}
            {# {% if date_time_formatter(segment.arrival.at).day != date_time_formatter(segment.departure.at).day %}
            <br><span class="w3-text-red">
            <strong>Arrives {{ date_span(itinerary.segments[0].departure.at, segment.arrival.at) }} calendar days later!</strong>
            </span>
            {% endif %} #}
            {% if len(itinerary.segments) > 1 and itinerary.segments.index(segment) != len(itinerary.segments) - 1  %}
            {% with layover = date_time_formatter(itinerary.segments[itinerary.segments.index(segment)+1].departure.at) - date_time_formatter(segment.arrival.at) %}
            <br><span class="w3-text-blue layover">
            <strong>Layover {{ '{} hours {} minutes'.format(*str(layover).split(':')[:2]) }}</strong>
            </span>
            {% endwith %}
            {% endif %}
            {% if itinerary.segments.index(segment) == len(itinerary.segments) -1 %}
            {# {% with total = date_time_formatter(segment.arrival.at) - date_time_formatter(itinerary.segments[0].departure.at) %} #}
            {% with total = parse_duration(itinerary.duration) %}
            <br><span class="w3-text-blue">
            <strong>Total duration {{ '{} hours {} minutes'.format(*str(total).split(':')[:2]) }}</strong>
            </span>
            {% endwith %}
              {% if date_time_formatter(segment.arrival.at).day != date_time_formatter(itinerary.segments[0].departure.at).day %}
              <br><span class="w3-text-red">
              <strong>Arrives {{ date_span(itinerary.segments[0].departure.at, segment.arrival.at) }} calendar days later!</strong>
              </span>
              {% endif %}
            {% endif %}
            </p>
          </div>
          <div class="w3-container col-10">
            <p>
              {# {{ segment.pricingDetailPerAdult.travelClass }} #}
              {% with sid = segment.id, d = result.travelerPricings[0].fareDetailsBySegment %}
              {% with details = d | selectattr("segmentId", "==", sid) | list | first %}
              {{ details.cabin }}
              {% endwith %}
              {% endwith %}
            </p>
          </div>
        </div>
        {% endfor %}
      
      {% endfor %}

    </div>
    {% endfor %}
  </div>
</div>
{# <div class="w3-container" id="test"></div> #}
{% endblock %}

{% block script %}
<script>

// NEED TO COMBINE THESE INTO ONE FUNCTION
function filter() {
  var input1, input2, filter1, filter2, i;
  input1 = document.getElementById("filter_layover");
  input2 = document.getElementById("filter_stops");
  filter1 = parseInt(input1.value);
  filter2 = parseInt(input2.value);
  var cards = document.getElementsByClassName("result-card");
  for (i = 0; i < cards.length; i++) {
    var collection = cards[i].querySelectorAll("span.layover");
    var layovers = [];
    var j;
    for (j = 0; j < collection.length; j++) {
      var layover = collection[j].getElementsByTagName("strong")[0].innerHTML;
      layovers.push( Number(layover.split(" ")[1]) + Number(layover.split(" ")[3]) / 60 );
      }
    var max_layover = Math.max.apply(null, layovers);
    var outs = cards[i].querySelectorAll("div.out");
    var returns = cards[i].querySelectorAll("div.return");
    if (max_layover > filter1 || outs.length > (filter2 + 1) || returns.length > (filter2 + 1)) {
      cards[i].style.display = "none";
      } 
    else {
      cards[i].style.display = "";
      }
  }
}

</script>
{% endblock %}
