{% extends "base.html" %}

{% block head %}
  {# See https://www.jsdelivr.com/using-sri-with-dynamic-files about why not to use combined #}
  <script src="https://cdn.jsdelivr.net/npm/tablesorter@2.31.3/dist/js/jquery.tablesorter.min.js" integrity="sha256-dtGH1XcAyKopMui5x20KnPxuGuSx9Rs6piJB/4Oqu6I=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/tablesorter@2.31.3/dist/js/jquery.tablesorter.widgets.min.js" integrity="sha256-GxbszpUzg+iYIcyDGyNVLz9Y0dQvzmQgXXVk5cHJbw0=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/theme.blue.css') }}" >
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="bg-img img4">
  <div class="w3-container fluid-type">
    <div class="results-title">
      WideOpen Search Results
    </div>
  {# for troubleshooting (only works in debugging mode) #}
    {# <div style="font-size: small;" class="default-bg-color">
      <p>{{ session }}</p>
      <p>{{ results[0].links.flightOffers }}
    </div> #}
  </div>
  <div class="w3-container fluid-type">
    <div class="w3-bar w3-green results-bar">
      {% with origin=results[0].origin, destination=results[0].destination  %}
      {% with  o_prefix=flights["dictionaries"]["locations"][origin]["subType"][0:1], d_prefix=flights["dictionaries"]["locations"][destination]["subType"][0:1] %}
      {{ results | length }} Matching flights from
      {% if code_dict['C' + origin] is defined and code_dict['A' + origin] is defined %}
        {{ code_dict['C' + origin]["string"] }}
      {% else %}
        {{ code_dict[o_prefix + origin]["string"] }}
      {% endif %}
      {# Using response json dictionaries is less detailed! #}
      {# {{ flights["dictionaries"]["locations"][origin]["detailedName"] }} #}
      {% if search_type == 'extensive' %}
      &nbsp;to&nbsp;
        {% if code_dict['C' + destination] is defined and code_dict['A' + destination] is defined %}
          {{ code_dict['C' + destination]["string"] }}
        {% else %}
          {{ code_dict[d_prefix + destination]["string"] }}
        {% endif %}
      {# {{ flights["dictionaries"]["locations"][destination]["detailedName"] }} #}
      {% endif %}
      {% endwith %}
      {% endwith %}
      {# &nbsp;priced in {{ currencies[flights.meta.currency][0] }} {% autoescape false %}{{ currencies[flights.meta.currency][1] }}{% endautoescape %} #}
      &nbsp;priced in {{ currencies[flights.meta.currency] }}
      {# {% autoescape false %}{{ currencies[flights.meta.currency][1] }}{% endautoescape %} #}
    </div>
  </div>
  <div class="w3-container">
    <div class="w3-bar">
      <a href="{{ url_for('routes.flight_search', new='false', search_type=search_type) }}"
       class="w3-button w3-blue light-border">Modify Search</a>
      <a href="{{ url_for('routes.flight_search') }}"
       class="w3-button w3-blue light-border">Start Over</a>
      {% if search_type == 'inspiration' %}
        <button class="w3-button w3-blue light-border"
         type="button" onclick="resetFilter()">Clear Filters</button>
      {% endif %}
      <span>
      <button class="w3-button w3-blue light-border w3-right"
       id="show_hide" onclick="showDropdown()">
        Show search parameters <i class="material-icons">add</i>
      </button>
      <div class="w3-dropdown-content w3-card w3-padding w3-small" id="params" onclick="showDropdown()">
        <span class="w3-right w3-text-gray">X</span>
        {% for k, v in session.params.items() %}
        <p>{{ k }} = {{ v }}</p>
        {% endfor %}
      </div>
    </span>
    </div>
    <div class="w3-clear"></div>
    {% if search_type == 'inspiration' %}
    <div class="w3-bar w3-padding-16">
      <input class="w3-input w3-border w3-quarter" type="text" placeholder="Search for cities or countries..." id="filter" onkeyup="searchTable()">
      <button class="w3-btn w3-text-red w3-round-large w3-margin-left default-bg-color" type="button" onclick="filterOut('UNITED STATES')">Exclude USA</button>
      <button class="w3-btn w3-text-blue w3-round-large default-bg-color" type="button" onclick="filterIn('North America')">North America</button>
      <button class="w3-btn w3-border w3-border-blue w3-text-blue w3-round-large default-bg-color" type="button" onclick="filterIn('South America')">South America</button>
      <button class="w3-btn w3-text-blue w3-round-large default-bg-color" type="button" onclick="filterIn('Europe')">Europe</button>
      <button class="w3-btn w3-text-blue w3-round-large default-bg-color" type="button" onclick="filterIn('Asia')">Asia</button>
      <button class="w3-btn  w3-text-blue w3-round-large default-bg-color" type="button" onclick="filterIn('Oceania')">Australia/Oceania</button>
      <button class="w3-btn w3-text-blue w3-round-large default-bg-color" type="button" onclick="filterIn('Africa')">Africa</button>
    </div>
    {% else %}
    <div class="w3-bar w3-padding-24"></div>
    {% endif %}
  </div>
  <div class="w3-container wrapper-short">
    {# tablesorter plugin sets css #}
    {# <table class="w3-table w3-striped" id="full_table"> #}
    <table id="full_table">
      <thead>
        <tr><th>Price</th>
        {% if search_type != 'extensive' %}
          <th>Code</th><th class="hidden"></th><th>Desitination</th>
        {% endif %}
        <th>Departure Date</th>
        {% if session['params']['oneWay'] == False %}
          <th>Return Date</th><th>Trip Length</th>
        {% endif %}
        {# <th>Airline</th> #}
        {% if search_type != 'extensive' %}
          <th>Explore More Dates</th>
        {% endif %}
        <th>Live Search</th>
        </tr>
      </thead>
      <tbody id="results">
      {% for result in results %} 
        <tr><td>{{ result.price.total }}</td>
        {% if search_type != 'extensive' %}
          <td>{{ result.destination }}</td>
          {% with destination=result.destination %}
          {% with prefix=flights["dictionaries"]["locations"][destination]["subType"][0:1], prefixes=set(['A', 'C']) %}
          {# Using response json dictionaries is less detailed! #}
            {# <td>{{ flights["dictionaries"]["locations"][destination]["subType"].lower() }}</td> #}
            {# <td>{{ flights["dictionaries"]["locations"][destination]["detailedName"].title() }}</td> #}
          
          {# NEXT 4 LINES IS WORKAROUND FOR API BUG that gives wrong subType, e.g., CAS, ORL as airports #}
          {% if code_dict['C' + destination] is defined and code_dict['A' + destination] is defined %}
            <td class="hidden">C</td>
            <td>{{ code_dict['C' + destination]["string"] }}</td>
          {% elif code_dict[prefix + destination] is defined %}
          {# END OF WORKAROUND #}

          {# {% if code_dict[prefix + destination] is defined %} #}
            <td class="hidden">{{ prefix }}</td>
            <td>{{ code_dict[prefix + destination]["string"] }}</td>
          {% elif code_dict[list(set.difference(prefixes, set(prefix)))[0] + destination] is defined %}
            <td>{{ list(set.difference(prefixes, set(prefix)))[0] }}</td>
            <td>
              {{ code_dict[list(set.difference(prefixes, set(prefix)))[0] + destination]["string"] }}
            </td>
          {% else %}
            <td style="color: red;">Cannot find that code!</td>
          {% endif %}
          {% endwith %}
          {% endwith %}
        {% endif %}
        <td>{{ result.departureDate }}</td>
        {% if session['params']['oneWay'] == False %}
          <td>{{ result.returnDate }}</td><td>{{ date_span(result.departureDate, result.returnDate) }}</td>
        {% endif %}
        {# <td>
          {% if airlines_dict[result.airline]['URL'] %}
            <a href="{{ airlines_dict[result.airline]['URL'] }}" target="_blank">{{ airlines_dict[result.airline]['name'] }}</a>
          {% else %}
            {{ airlines_dict[result.airline]['name'] }}
          {% endif %}
        </td> #} 
        {# New API does not return airlines for inspiration search! #}
        {% if search_type != 'extensive' %}
          <td>
            {% with link = result.links.flightDates %}
            <a href="{{ url_for('routes.parse_redirect', link=link, referrer=search_type) }}">More Dates</a>
            {% endwith %}
          </td>
        {% endif %}
        <td>
          {% with link = result.links.flightOffers %}
          <a href="{{ url_for('routes.parse_redirect', link=link, referrer=search_type,
          currency=flights.meta.currency) }}">Live</a>
          {% endwith %}
        </td>
        </tr>
      {% endfor %}
      </tbody>
    </table> 
  </div>
</div>
{% endblock %}

{% block script %}

<script>
$(function() {
  $("#full_table").tablesorter({
     theme: 'blue',
     widgets: ["stickyHeaders"],
     widgetOptions: {
       stickyHeaders: "tablesorter-stickyHeader",
       stickyHeaders_attachTo: ".wrapper-short"
     }
  });
}); 

function searchTable() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("filter");
  filter = input.value.toUpperCase();
  table = document.getElementById("results");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}

function filterOut(filter) {
  var table, tr, td, i;
  table = document.getElementById("results");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[3];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "none";
      } else {
        tr[i].style.display = "";
      }
    }
  }
}

function filterIn(filter) {
  var table, tr, code, lookup, i;
  table = document.getElementById("results");
  tr = table.getElementsByTagName("tr");
  lookup = {{ code_dict | tojson }};
  for (i = 0; i < tr.length; i++) {
    code = tr[i].getElementsByTagName("td")[1].innerHTML;
    pref = tr[i].getElementsByTagName("td")[2].innerHTML;
    try {
      continent = lookup[pref + code]["continent"];
      if ( continent == filter ) {
      tr[i].style.display = "";
      } 
      else {
        tr[i].style.display = "none";
      }
    }
    catch(err) {
      tr[i].style.display = "none";
    }
  }
}

function resetFilter() {
  document.getElementById("filter").value = "";
  searchTable();
}

function showDropdown() {
  var x = document.getElementById("params");
  var b = document.getElementById("show_hide");
  if (x.className.indexOf("w3-show") == -1) { 
      x.className += " w3-show";
      b.innerHTML = 'Hide search parameters <i class="material-icons">remove</i>';
  } else {
      x.className = x.className.replace(" w3-show", "");
      b.innerHTML = 'Show search parameters <i class="material-icons">add</i>';
  }
}
</script>

{% endblock %}