{% extends "base.html" %}

{% block head %}
  <title>WideOpen Flight Search: Everywhere, Anywhere, Any Date Range</title>
  <meta name="description" content="Search all destinations or a specific destination, over any date range.">
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
<div class="bg-img img2 fluid-type">
  <div class="search-title">
    WideOpen Flight Search
    <div class="instructions">
      <p>
        Only the origin city is required. You can add a destination to search for the best dates to fly.
        <br>Use additional fields to narrow your search and improve the quality of your results.
        {# <br>{{ session }} #}
      </p>
      <div class="hidden">{{ error_count }}</div>
      {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
        <p class="flashed">{{ message }}</p>
        {% endfor %}
      {% endif %}
      {% endwith %}
    </div>
  </div>
  <form action="" method="post">
    {{ form.hidden_tag() }}
    <div class="w3-cell-row form-row-medium">
      <div class="w3-cell w3-mobile">
        {{ form.origin.label }}&nbsp;City<br>
        {{ form.origin(size=36, id="origin_code", value=strings['origin'],
        placeholder="City name or code") }}
      </div>
      <div class="w3-cell w3-mobile">
        {{ form.destination.label }}&nbsp;City<br>
        {{ form.destination(
          size=36, id="destination_code", value=strings['destination'],
          placeholder="City name or code") }}
      </div>
      {# <div class="w3-cell w3-mobile">
        {{ form.currency.label(class_="currency_hide") }}<br>
        {{ form.currency(size=16, class_="currency_hide", id="currency", value=strings['currency']) }}
      </div> #}
    </div>
    {% for error in form.origin.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Origin: "{{form.origin.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %}
    {% for error in form.destination.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Destination: "{{form.destination.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %}
    {# {% for error in form.currency.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Currency: "{{form.currency.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %} #}
    {% if not one_way %}
      <div class="w3-cell-row form-row-medium">
        <div class="w3-cell w3-mobile">
        {{ form.one_way(class_="w3-check", onchange="disableEnable()", autocomplete="off") }}
        &nbsp;{{ form.one_way.label }}
        </div>
        <div class="w3-cell w3-mobile">
        {% if not direct %}
          {{ form.direct_only(class_="w3-check") }}&nbsp;{{ form.direct_only.label }}
        {% else %}
          {{ form.direct_only(class_="w3-check", checked="checked") }}&nbsp;{{ form.direct_only.label }}
        {% endif %}
        </div>
        <div class="w3-cell w3-mobile">
          {{ form.max_price.label }}&nbsp;{{ form.max_price(value=values['maxPrice'], size=6) }}
        </div>
      </div>
      <div class="w3-cell-row form-row" id="duration_row">
        <div class="w3-cell w3-mobile form-cell-small">
          How many days would you like to travel?<br>(up to 15 days)
        </div>
        <div class="w3-cell w3-mobile">
          {{ form.min_duration.label }}&nbsp;{{ form.min_duration(size=4,
          value=values['duration'].split(',')[0] if values['duration'] is defined, placeholder="days") }}
        </div>
        <div class="w3-cell w3-mobile">
          {{ form.max_duration.label }}&nbsp;{{ form.max_duration(size=4,
          value=values['duration'].split(',')[-1] if values['duration'] is defined,
          placeholder="days") }}
        </div>
      </div>
    {% else %}
      <div class="w3-cell-row form-row">
        <div class="w3-cell w3-mobile">
        {{ form.one_way(
          class_="w3-check", onchange="disableEnable()", checked="checked", autocomplete="off") }}&nbsp;
        {{ form.one_way.label }}
        </div>
        <div class="w3-cell w3-mobile">
        {% if not direct %}
          {{ form.direct_only(class_="w3-check") }}&nbsp;{{ form.direct_only.label }}
        {% else %}
          {{ form.direct_only(class_="w3-check", checked="checked") }}&nbsp;{{ form.direct_only.label }}
        {% endif %}
        </div>
        <div class="w3-cell w3-mobile">
          {{ form.max_price.label }}&nbsp;{{ form.max_price(value=values['maxPrice'], size=6) }}
        </div>
      </div>
      <div class="w3-cell-row form-row disabled" id="duration_row">
        <div class="w3-cell w3-mobile">
          How many days would you like to travel?<br>(up to 15)
        </div>
        <div class="w3-cell w3-mobile">
        {{ form.min_duration.label }}&nbsp;
        {{ form.min_duration(disabled="true", size=3) }}<br>
        </div>
        <div class="w3-cell w3-mobile">
        {{ form.max_duration.label }}&nbsp;
        {{ form.max_duration(disabled="true", size=3) }}<br>
        </div>
      </div>
    {% endif %}
    {% for error in form.max_price.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Maximum Price: "{{form.max_price.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %}
    {% for error in form.min_duration.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Shortest Trip: "{{form.min_duration.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %}
    {% for error in form.max_duration.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Longest Trip: "{{form.max_duration.raw_data[0]}}" [{{ error }}]
      </div>
    {% endfor %}
    <div class="w3-cell-row form-row">
      <div class="w3-cell w3-mobile">
        Select a range of departure dates:
      </div>
      <div class="w3-cell w3-mobile">
        {{ form.departure_date1.label }}&nbsp;
        {{ form.departure_date1(id="datepicker1",
        value=values['departureDate'].split(',')[0] if values['departureDate'] is defined, size=12) }}
      </div>
      <div class="w3-cell w3-mobile">
        {{ form.departure_date2.label }}&nbsp;
        {{ form.departure_date2(id="datepicker2",
        value=values['departureDate'].split(',')[-1] if values['departureDate'] is defined, size=12) }}
      </div>
    </div>
    {% for error in form.departure_date1.errors %}
      <div class="w3-row-padding errors">
        &nbsp;&nbsp;Invalid entry for Earliest Departure: "{{form.departure_date1.raw_data[0]}}" 
        [{{ error }}]
      </div>
    {% endfor %}
    {% for error in form.departure_date2.errors %}
      <div class="w3-row-padding errors">
        &emsp;&emsp;Invalid entry for Latest Departure: "{{form.departure_date2.raw_data[0]}}"
        [{{ error }}]
      </div>
    {% endfor %}
    <div class="w3-cell-row form-row-low" id="pre-label">
    {% if search_type == 'inspiration' %}
      Results will be sorted by price, showing the cheapest fare for each destination city.
      <br>From there, you can explore more dates for a destination or perform a Live Search.
    {% else %}
      With a destination selected, you can choose how extensively you would like to search.
      <br>Show the cheapest fare for...
      {# {{ form.aggregation.label }} #}
    {% endif %}
    </div>
    <div class="w3-cell-row form-row">
      {% if search_type == 'inspiration' %}
        <div class="w3-cell w3-mobile hidden" id="choice_list">
          {% for choice in form.aggregation %}
          {% if loop.index0 < 3 %}
            {% with choice_label = ("label-" + (loop.index0|string)) %}
                &nbsp;&nbsp;{{ choice }}&nbsp;
                {{ choice.label(id=choice_label, class_="choices") }}<br>
            {% endwith %}
          {% endif %}
          {% endfor %}
        </div>
      {% else %}
        <div class="w3-cell w3-mobile" id="choice_list">
          {% for choice in form.aggregation %}
          {% if loop.index0 < 3 %}
            {% with choice_label = ("label-" + (loop.index0|string)) %}
            {% if one_way and loop.index0 == 0 %}
              &nbsp;&nbsp;{{ choice }}&nbsp;
              {{ choice.label(id=choice_label, class_="choices disabled") }}<br>
            {% else %}
              &nbsp;&nbsp;{{ choice }}&nbsp;
              {{ choice.label(id=choice_label, class_="choices") }}<br>
            {% endif %}
            {% endwith %}
          {% endif %}
          {% endfor %}
        </div>
      {% endif %}
      <div class="w3-cell w3-cell-bottom w3-mobile">
        {{ form.submit(class_="w3-button w3-blue w3-right") }}
      </div>
    </div>
  </form>
</div>

{% endblock %}

{% block script %}
<script>
$( function() {
  $( "#datepicker2" ).datepicker( {
      showOn: "both",
      buttonImage: "{{ url_for('static', filename='images/calendar-blue.gif') }}",
      buttonImageOnly: true,
      //buttonText: "Select from calendar",
      changeMonth: true,
      changeYear: true,
      dateFormat: "yy-mm-dd"
      } );
  $( "#datepicker1" ).datepicker( {
      showOn: "both",
      buttonImage: "{{ url_for('static', filename='images/calendar-blue.gif') }}",
      buttonImageOnly: true,
      //buttonText: "Select from calendar",
      changeMonth: true,
      changeYear: true,
      dateFormat: "yy-mm-dd",
      minDate: 0,
      onSelect: function(selected_date, inst) {
          var selected_date = new Date(inst.selectedYear, inst.selectedMonth, inst.selectedDay);
          $( "#datepicker2" ).datepicker( "option", "minDate", selected_date);
          }
      } );
  } );
  
$( function() {
  var locations = ( $.map( {{ code_dict|tojson }}, function (value, key) {
    if (key.startsWith("C")) {  // Workaround while API does not accept airports
      return {
        label: key.slice(1) + " " + value.string,
        value: key.slice(1) + " " + value.string
      };
    };
// Original version. Accepts city or airport codes.
//    return {
//        label: key.slice(1) + " " + value.string,
//        value: key.slice(1) + " " + value.string
//    };
  } ) );
  $( "#origin_code" ).autocomplete( {
    source: locations,
    minLength: 3,
    delay: 100
  } );
  $( "#destination_code" ).autocomplete( {
    source: locations,
    minLength: 2,
    delay: 100
    /* Old version used autocomplete 'change: ...'
      if (typeof ui.item !== "undefined" && ui.item !== null) */
  } );
});

$("#destination_code").on( "keyup", function() {
  var destination = $.trim( $(this).val() );
  if (destination.length > 1) {
    $("#aggregation-1").prop("checked", true);
    $("#choice_list").show(1000); //removeClass("hidden");
    $("#pre-label").html(
      'With a destination selected, you can choose how extensively you would like to search.' + 
      '<br>Show the cheapest fare for...'
    );
  }
  else {
    $("#choice_list").hide(1000); //addClass("hidden");
    $("#pre-label").html(
      'Results will be sorted by price, showing the cheapest fare for each destination city.' + 
      '<br>From there, you can explore more dates for a destination or perform a Live Search.'
    );
  }
} );

/* Currency parameter not functioning in API endpoints: Inspiration, Cheapest-Dates
  $( function() {
    var currencies = ($.map( {{ currencies }}, function (value, key){
      return {
        label: key + " " + value[0],
        value: key + " " + value[0]
      };
    }));
    $( "#currency" ).autocomplete( {
      source: currencies,
      minLength: 2,
      delay: 100
    } );
  } );
*/

function disableEnable() {
  var md1, md2, row, duration_choice, duration_label;
  md1 = document.getElementById("min_duration");
  md2 = document.getElementById("max_duration");
  row = document.getElementById("duration_row");
  duration_choice = document.getElementById("aggregation-0");
  duration_label = document.getElementById("label-0");
  var destination = document.getElementById("destination_code").value;
  date_view = document.getElementById("aggregation-1");
  if ( md1.disabled ) {
    md1.disabled = false;
    md2.disabled = false;
    row.className = row.className.replace(" disabled", "");
    duration_choice.disabled = false;
    duration_label.className = duration_label.className.replace(" disabled", "");
  }
  else {
    md1.disabled = true;
    md2.disabled = true;
    row.className += " disabled";
    duration_choice.disabled = true;
    duration_label.className += " disabled";
    if (destination.length > 2) {
      date_view.checked = true;
    }
  }
}
</script>
  
{% endblock %} 