
/***********
 * Overall *
 ***********/
body, h1, h2, h3, h4, h5, h6 {
    color: #064271; /* Very dark blue text */
    font-family: 'Lato', sans-serif;
    background-color: #eef7fe;
  }
body, html {
    height: 100%;
}
a {
    text-decoration: none;
    color: #212df3;
}
a:hover {
    color: #eef7fe;
    background-color: #212df3;
}
footer {
    background-color: #2196F3;
    color: #eef7fe;
    padding: 6px 8px;
}
footer a {
    color: #eef7fe;
    text-decoration: underline;
    float: right;
}
footer a:hover {
    background-color: transparent;
}
form {
    background-color: #eef7fe;
    opacity: 0.9;
    width: 52em;
    margin-top: auto;
    margin-right: auto;
    margin-bottom: 40px;
    margin-left: auto;
    font-size: calc(0.125em + 12px); /* Keeps fonts between 14-16px */
}
nav {
    font-size: 1.2rem;
}
small {
    font-size: small;
}
.bg-img {
    height: 100%;
    background-position: center;
    padding-top: 2.8rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.clickable {
    cursor: pointer;
    color: #212df3;
}
.default-bg-color {
    background-color: #eef7fe;
}
.errors {
    color: red;
}
.flashed {
    color: red;
    font-weight: bold;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    padding: 8px 8px 8px 16px;
}
.flex-item {
    align-self: flex-start;
}
.fluid-type {
    font-size: 16px;
}
@media (min-width: 750px) and (min-height: 500px) {
    .fluid-type {
        font-size: calc(16px + 16 * (100vw - 750px) / 274);
    }
}
@media (min-width: 1024px), (min-height: 1300px) {
    .fluid-type {
        font-size: 32px;
    }
}
.form-row {
    /* width: 760px; */
    width: 47.5em;
    padding: 8px 16px;
}
.form-row-medium {
    /* width: 620px; */
    width: 38.75em;
    padding: 8px 16px;
}
.form-row-low {
    /* width: 760px; */
    width: 50.667em;
    padding: 8px 16px 0px 16px;
}
.hidden {
    display: none;
}
i.material-icons {
    vertical-align: middle;
}
.instructions {
    font-style: italic;
    /* font-size: 16px; */
    font-size: calc(1.0em / 3);
    font-weight: 400;
    padding-bottom: 16px;
}
.light-border {
    border: 2px solid #eef7fe;
}
.wrapper-short {
    position: relative;
    padding: 0 16px;
    /* height: 360px; */
    height: 52.5%;
    overflow-y: auto;
    margin-bottom: 30px;
}
.wrapper-tall {
    position: relative;
    padding: 0 16px;
    /* height: 508px; */
    height: 67.5%;
    overflow-y: auto;
    margin-bottom: 30px;
}

/***************
 * Media Rules *
 ***************/
@media (max-height: 500px) and (orientation: landscape) {
        form {
            min-height: 420px !important;
        }
}
@media (max-height: 900px) and (orientation: portrait) {
    form {
        min-height: 820px !important;
    }
    /* #pre-label {
        max-width: 360px;
    } */
}
@media (max-width: 750px), (max-height: 500px) { /*and (max-height: 1023px) { */
    body, html {
        font-size: 14px;
        line-height: 1.2;
    }
    form, .form-row, .form-row-medium, .form-row-low {
        /* opacity: 1.0; */
        width: auto;
        margin-bottom: 0;
        overflow: scroll;
    }
    small {
        font-size: 10px;
    }
    i.material-icons {
        font-size: 14px;
    }
    .bg-img {
        padding-top: 34px !important;
    }
    .img2, .img3 {
        background-image: none !important;
    }
    .position-low {
        position: absolute;
        bottom: 8% !important;
    }   
    /*** Replaced by fluid-type, fluid-box ***/
    /* .index-container {
        /* font-size: 14px !important;
        margin-left: 35% !important;
        width: 60% !important;
    } */
    /* .slide-title {
        font-size: 18px !important;
    } */
    /* .title {
        font-size: 48px !important;
        margin-top: 16px !important;
        width: auto !important;
        line-height: 1.2;
    } */
    /* .subtitle {
        font-size: 24px !important;
        line-height: 1.2;
    } */
    .search-title, .live-search-title, .results-title, .live-results-title {
        font-size: 20px !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        width: auto !important;
        opacity: 1.0 !important;
    }
    .instructions {
        font-size: 12px !important;
        padding-bottom: 0;
    }
    #pre-label {
        font-size: 12px !important;
    }
    .results-bar {
        font-size: 14px !important;
    }
    .live-row {
        width: auto !important;
        padding: 0 16px;
    }
    .live-row div.w3-cell, .form-row div.w3-cell {
        padding: 0 8px;
    }
    .result-card {
        width: auto !important;
        min-width: 600px;
        overflow-x: scroll;
    }
    .result-card-price-bar {
        font-size: 12px !important;
    }
    .col-15 {
        width: 12% !important;
    }
}

/**********
 * Images *
 **********/
.img1 {
    background-image: url('../images/LakeBled.jpg');
}
.img2 {
    background-image: url('../images/DonaAna.jpg');
}
.img3 {
    background-image: url('../images/NaPali.jpg');
}
.img4 {
    background-image: url('../images/Bamboo.jpg');
}
.img5 {
    background-image: url('../images/SaPa.jpg');
}
.img6 {
    background-image: url('../images/AlhambraTile.jpg');
}
/* For repeating image use:
    background-repeat: repeat;
    background-size: auto;
*/

/**************
 * Index page *
 **************/
.fluid-box {
    width: 60%;
    margin-left: 35%;
}
@media (min-width: 500px) and (min-height: 500px) {
    .fluid-box {
        /* width: calc(150px + 30vw); */
        width: calc(300px + 150 * (100vw - 500px) / 500);
        /* margin-left: calc(-150px + 65vw); */
        margin-left: calc(175px + 325 * (100vw - 500px) / 500);
    }
}
@media (min-width: 1000px) and (min-height: 500px) {
    .fluid-box {
        width: 45%;
        margin-left: 50%;
    }
}
.title {
    margin-top: 0.333em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
    font-size: 3em;
    line-height: 1.2;
}
.subtitle {
    font-family: 'Monserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 1.5em;
    line-height: 1.2;
    /* font-size: 40px; */
}
.index-container {
    /* width: 44%; */
    /* margin-left: 50%; */
    /* font-size: 22px; */
    font-size: calc(0.5em + 6px); /* Keeps fonts between 14-22px */
    font-weight: 500;
    color: #eef7fe;
}
/*** Unused index-container CSS ***/
    
    /*** Text alignment ***
    text-align: justify;
    text-justify: inter-word; */
    
    /*** Light text on brown ***
    background-color: #373631;
    opacity: 0.6;
    box-shadow: 0 0 20px 30px #373631; */
    
    /*** Dark-blue text on light background ***
    background-color: #eef7fe;
    opacity: 0.6;
    box-shadow: 0 0 20px 30px #eef7fe; */
    
    /*** Borders ***
    border: 4px solid #064271;
    border-radius: 8px; */

.index-container p {
    font-style: italic;
}
.index-container a {
    color: #eef7fe;
}
.index-container pre{
    font-family: inherit;
    font-size: inherit;
    font-style: italic;
}
.position-low {
    position: absolute;
    bottom: 56px;
}
.pad-sides {
    padding: 8px 16px;
}
.slide-title {
    /* font-size: 24px; */
    font-size: 1.1em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
}
.slide-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #9abafd;
}
.slide-subtitle a {
    color: #9abafd;
}
.slide-subtitle a:hover {
    color: #eef7fe;
}
.slides {
    display: none;
}
.previous, .next, .dots {
    cursor: pointer;
}
.previous {
    float: left;
}
.next {
    float: right;
}
.w3-badge {
    height: 13px;
    width: 13px;
    padding: 0
}
/* Borrowed from w3-animate-* classes */
.animate-right{position:relative;animation:animateright 0.9s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.animate-bottom{position:relative;animation:animatebottom 2.0s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.animate-fading{animation:fading 8s infinite}@keyframes fading{0%{opacity:0}12%{opacity:1}88%{opacity:1}100%{opacity:0}}

/********************
 * Wide Open Search *
 ********************/
.search-title {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.75em;
    margin-bottom: 0.75em;
    padding-top: 16px;
    /* width: 784px; */
    width: 17.333em;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-style: italic;
    /* font-size: 1.5em; */
    font-size: calc(0.375em + 36px); /* Keep fonts between 42-48px */ 
    line-height: 1.2;
    text-align: center;
    background-color: #eef7fe;
    opacity: 0.8;
}
.choices {
    font-size: 14px;
}
.disabled {
    color: LightGray;
}
/* This is workaround for Amadeus currency bug.
See https://stackoverflow.com/questions/55667187/ */
.currency_hide {
    visibility: hidden;
}
.form-row#duration_row {
    padding: 8px 16px 0px 16px;
}
#pre-label {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-style: italic;
}

/***********
 * Results *
 ***********/
td a:hover {
    font-size: 110%;
    font-style: italic;
}
.results-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 12px;
    /* width: 408px; */
    width: 13.25em;
    height: auto;
    font-weight: 600;
    font-style: italic;
    /* font-size: 32px; */
    font-size: 1.25em;
    text-align: center;
    background-color: #eef7fe;
}
.results-bar {
    /* font-size: 18px; */
    font-size: calc(0.25em + 10px);
    text-align: center;
    padding: 0.5em 0;
    margin-bottom: 0.5em;
}
/* #show_hide {
    margin-top: 6px;
  } */
#params {
    right:0;
    margin-right: 16px;
    z-index: 4;
  }

/***************
 * Live Search *
 ***************/
#advanced {
    margin: 0px 16px;
    border: 1px solid #2196F3;
}
/* Generated from https://material.io/tools/icons/ 
and https://websemantics.uk/tools/svg-to-background-image-conversion/ */
.time {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8z' stroke='%232196F3' stroke-width='1.2'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12.5 7H11v6l5.25 3.15.75-1.23-4.5-2.67z' stroke='%232196F3' stroke-width='1.2'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right;
}

/****************
 * Live Results *
 ****************/
.live-results-title {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 12px;
    /* width: 600px; */
    width: 15em;
    height: auto;
    font-weight: 600;
    font-style: italic;
    /* font-size: 40px; */
    font-size: 1.25em;
    text-align: center;
    background-color: #eef7fe;
}
@media (max-width: 900px) {
    .live-results-title {
        width: 22em;
    }
}
.live-row {
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 8px;
    /* width: 600px; */ /* Width set by live-results-title */
    /* font-size: 15px; */
    font-size: calc(0.1em + 12px);
}
.third {
    width: 33.33%;
}
.col-10 {
    width: 10%;
    float: left;
}
.col-15 {
    width: 15%;
    float: left;
}
.col-20 {
    width: 20%;
    float: left;
}
.result-card {
    border: 4px solid #2196f3;
    font-size: 12px;
}
.result-card-price-bar {
    font-size: 14px;
}
#filter_layover, #filter_stops {
    width: 52px;
}